.temps-container {
  .temps-header {
    margin: 120px 4% 80px 0;
    display: flex;
  }

  .title {
    font-size: 48px;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(19, 80, 172);
  }

  .btn-add {
    font-weight: 600;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .space-click {
    cursor: -webkit-grab;
    cursor: grab;
  }

  // .modal-footer{
  //   font-weight: initial;
  // }
}
