<div class="container temps-container">
    <div class="row">
        <div class="col">
            <div class="temps-header row">
                <div class="title col-10">
                    <h1>TIMETABLE</h1>
                </div>
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Form Add New List</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form-add" #checkoutForm id="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title"><b>New List Title</b></label>
                                <input type="text" class="form-control" id="title" name="title"
                                    placeholder="Enter list title" ngModel>
                            </div>
                            <div class="form-group">
                                <label for="status"><b>New List Status</b></label>
                                <input type="text" class="form-control" id="status" name="status"
                                    placeholder="Enter list status" ngModel>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-dark" form="checkoutForm" >Add</button>
                        </div>
                    </form>               
                </ng-template>
                <button class="btn btn-lg btn-outline-primary btn-add col-2" (click)="open(content)">Add New
                    List</button>
                <hr>
            </div>
        </div>
    </div>

    <div>
        <ng-container *ngFor="let temp of temps;">
            <app-temp-item class="row space-click" [temp]="temp"></app-temp-item>
        </ng-container>
    </div>
    <div class="footer">
        <pre>{{closeResult}}</pre>
    </div>
</div>