.icon {
  width: 96px;
  height: 48px;
}

.container {
  margin-top: 120px;
  margin-bottom: 20px;

  h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(211, 47, 6);
  }
}

.set-body {
  margin-top: 48px;
  margin-bottom: 48px;
}
