<div class="container">
    <div *ngIf="temp">
        <h2> {{ temp.title }}</h2>
        <div class="row set-body">
            <input class="col-4" #new_Item (keyup.enter)="onAdd(new_Item.value); new_Item.value=''" placeholder="Enter new todos . . .">
            <a (click)="onAdd(new_Item.value); new_Item.value=''" class="col"><img class="icon" src="assets/img/add_icon.png" /></a>
        </div>
        <div class="row set-body">
            <div class="col-2"><i>({{[countRow]}})Tasks</i></div>
            <div class="col"><i>All ()Todos ()Completed</i></div>
        </div>
        <ng-container *ngFor="let item of items;">
            <app-temp-list-item *ngIf="item.listId == temp.id" class="row" [item]="item"
                (counter)="onDeleteUpdateCount($event)">
            </app-temp-list-item>
        </ng-container>
    </div>

</div>