<a class="col-10 nav-link nav-item" [routerLink]="['/temps', temp.id]">
    <h3>{{temp.title}}</h3>
</a>
<div class="col-2 ">
    <a (click)="onDelete(temp.id)"><img class="icon" src="assets/img/delete_icon.png" /></a>
</div>