<div class="app-container" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand">
                <img class="logo" src="{{logoUrl}}">
            </a>

            <!-- Navigation -->
            <div class="collapse navbar-collapse">
                <div class="navbar-nav space-click">
                    <a class="nav-item nav-link" [routerLink]="['/']">Home</a>
                </div>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>