<label class="form-check-label col-4" for="{{item.id}}" [ngClass]="{'completed': item.status == true}">
    <input type="checkbox" [checked]="onCheck()" class="form-check-input" id="check" (change)="onChange()">
    <h5>{{item.title}}</h5>
</label>
<div class="col">
    <a (click)="onDelete(item.id)"><img class="icon" src="assets/img/close_icon.png" /></a>
</div>